---
const {span, title, description, description2, image} = Astro.props
---

<div class="bg-white p-4 mx-auto rounded-lg max-w-[320px] md:flex md:max-w-[800px] items-center gap-2">
    <div class="px-1">
        <span class="px-2 py-0.5 bg-blue2 text-white rounded-lg text-sm md:text-lg">{span}</span>
        <h4 class="text-black text-md md:text-xl mt-2 font font-bold">{title}</h4>
        <p class="text-sm md:text-lg text-black pt-1">{description}</p>
        <p class="text-sm md:text-lg text-black pt-1">{description2}</p>
    </div>
    <div class="md:max-w-[280px] md:min-w-[280px]">
        <img src={image} class="rounded-lg mt-2 object-cover" />
    </div>
</div>